@model Micro_Social_Platform.Models.Message
<h2 class="text-center mt-5">Edit Message</h2>
<br />

<div>
    @using (Html.BeginForm(actionName: "Edit", controllerName: "Messages"))
    {
        @Html.ValidationSummary(false, "", new { @class = "text-danger"})
        @Html.Label("Content", "Message content")
        <br />

        @Html.TextArea("Content", null, new { @class="form-control"})
        @Html.ValidationMessage("Content", null, new { @class = "text-danger"})
        <br />

        <br />

        <button class="btn btn-success" type="submit">Edit message</button>
    }
</div>